<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="bg-dark py-2">
    <div class="container px-4 px-lg-5">
<!-- 		<th:block th:if="${title == 'Home'}"> -->
			<h1 class="text-center text-white display-4 fw-bolder">Let's Go Project1!!</h1>
<!-- 		</th:block> -->
<!-- 		<th:block th:if="${title != 'Home'}"> -->
<!-- 			<p class="text-start text-white lead fw-normal mb-0">홈&nbsp;&gt;&nbsp;<span class="text-white-60" th:text="${title}"></span></p> -->
<!-- 		</th:block> -->
    </div>
</header>
</html>